@use 'sass:color';

$font-main: 'Inter', sans-serif;
$delgada: 300; 
$regular: 400; 
$bold: 700; 
$black-f: 900;


$white: #ffffff; 
$black:#000000;
$bg-dark: #1f1529; 
$accent: #3886c9; 
$accent-2: #005AFF; 
$primary: #fac532; // según tu cambio previo
$cta: #ef9f40; 
$light: #6bb3b8; 
$muted: #64748b;
$light-dark: #437f83;
$bg-light: #f8f9fa; 
$bg-light-2:#f5f5f5; 
$dark:#1f1529; 
$border:#ccc;
$color-txt:#6b7280;
$primary-rgb: 250, 197, 50; // para focus
$container: 1200px;
$radius: 1rem; $shadow: 0 10px 30px rgba(0,0,0,.08);

$font-main: 'Inter', sans-serif;
$delgada: 300; $regular: 400; $bold: 700; $black-f: 900;


