@use '../base/variables' as var;
@use '../base/mixins' as mix;


.btn-primary{ 
    background-color: var.$accent-2;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    color: var.$white;
    text-decoration: none;
}


.btn-primary:hover {
    background-color: var.$dark;
    transform: scale(1.05);
}


